@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(5YB-ifwqHP20Yn46l_BDhA.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/roboto/v10/5YB-ifwqHP20Yn46l_BDhA.eot*/;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(5YB-ifwqHP20Yn46l_BDhA.eot)/*tpa=http://themes.googleusercontent.com/static/fonts/roboto/v10/5YB-ifwqHP20Yn46l_BDhA.eot*/ format('embedded-opentype'), url(2UX7WLTfW3W8TclTUvlFyQ.woff)/*tpa=http://themes.googleusercontent.com/static/fonts/roboto/v10/2UX7WLTfW3W8TclTUvlFyQ.woff*/ format('woff');
}
